*{
    margin: 0;
    padding: 0;
    background-color: #ccc;
}
header{
    display: flex;
    padding: 20px;
}
header h2{
    color: black;
}
span{
    color: red;
}
input{
    background-color: white;
    width: 250px;
    margin-left: 60%;
    border-radius: 8px;
}
input::placeholder{
    position: absolute;
    margin-left: 50px;
}
header button{
    padding: 10px;
    width: 80px;
    border: none;
    border-radius: 20px;
    color: white;
    background: rgb(255, 0, 170);
    margin-left: 5px;
}

.nav{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 20px;
}
.nav button{
    background-color: rgb(255, 0, 170);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 200px;
}
.nav button i{
    background: none;
}
.nav p{
    margin-bottom: 5px;
    padding: 10px;
}

div{
    padding-top: 20px;
    display: flex;
}
.title{
    position: absolute;
    margin-top: -50px;
    margin-left: 470px;
}
.content{
    margin-left: 50px;
    margin-top: 70px;
}
.container{
    box-shadow: 2px 2px 2px 2px rbga(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-right: 20px;

}
img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 3500px;
    height: 200px;
}
.detail{
    padding: 30px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}
.but{
    background-color: white;
}
.desc{
    width: 70px;
    padding: 5px;
    margin-top: -30px;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(89, 0, 255);

}